{% extends 'benitarecall/layout.html' %}

{% load bootstrap %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}

<div style="background-color: #0D96FF !important" class="container-fluid">
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-xs-12">
			<h1><b>Add Patient</b></h1>
			</div>
		</div>
	</div>
	<br>
</div><br>

<div class="container">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
	{% if messages %}
	{% bootstrap_javascript jquery=1 %}
	{% bootstrap_messages %}
	{% endif %}
	<form method="POST" action="{% url 'benitarecall:add_patient' %}" class="form">
		{{ form|bootstrap }}
		{% csrf_token %}
		<input type="submit" value="Add Patient" class="btn btn-success"> 
	</form>
</div>
</div>
</div><br>

{% endblock %}